<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmitChanges(form)" #form="ngForm">
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" ngModel required>
        </div>
        <div class="col-sm-3 form-group">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter Amount" ngModel
                 required [pattern]="'^[1-9]+[0-9]*$'">
        </div>
        <div class="col-sm-3 form-group">
          <label for="measuringUnit">Measuring Unit</label>
          <input type="text" class="form-control" id="measuringUnit" name="measuringUnit"
                 placeholder="Enter Measuring Unit" ngModel required>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-outline-primary" type="submit" [disabled]="!form.valid">
            {{ isEditing ? 'Update' : 'Add' }}
          </button>
          <button class="btn btn-outline-danger" type="button" (click)="onDelete()" *ngIf="isEditing">Delete</button>
          <button class="btn btn-outline-warning" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
